# Google Sheets Integration for Growcell Contact Form
NEXT_PUBLIC_GOOGLE_SHEETS_URL=https://script.google.com/macros/s/AKfycby5uy7wmS0pqFU4Z_5bqnvbA3D2TsORMXbi9hZhiRaU0j-6XfxWCN9Q3uGsOC1N107C/exec
GOOGLE_SHEETS_SCRIPT_URL=https://script.google.com/macros/s/AKfycby5uy7wmS0pqFU4Z_5bqnvbA3D2TsORMXbi9hZhiRaU0j-6XfxWCN9Q3uGsOC1N107C/exec
